.about-header {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-heading {
  font-weight: 500;
}

.about-information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (max-width: 540px) {
  /* For handphone: */

  .about-container {
    padding: 2rem;
  }

  .about-header h1 {
    font-size: 1.8rem;
  }

  .about-information-item {
    text-align: justify;
  }
}
