.criteria-header {
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.detection-answer {
  display: flex;
}

.btn-process {
}

/* .detection-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detection-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 700px;
  max-width: 700px;
}

.detection-question {
  margin-top: 2rem;
}

.detection-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.detection-answer-choice {
  font-size: 20px;
}

.next-btn {
  margin-top: 1rem;
} */
