.criteria-header {
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.detection-question p {
  font-size: 1.3rem;
}

.detection-answer {
  display: flex;
}
