.information-title {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  font-weight: bold;
}

.article-list {
  padding: 2rem 0;
}

.article-item {
  margin-bottom: 1rem;
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
  margin-bottom: 1rem;
}

.article-title {
  font-weight: bold;
}
