.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid black; */
  height: calc((100vh - 6rem) - 80px);
  position: relative;
}

.hero-text {
  width: 100%;
  max-width: 600px;
  /* border: 1px solid black; */
}

.hero-title {
  font-weight: 500;
  margin-bottom: 1rem;
}

/* .hero-title h1 {
  font-size: 2.2rem !important;
} */

.hero-subtitle {
  font-size: 1rem !important;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 540px) {
  .hero-subtitle {
    font-size: 1.2rem !important;
    margin-bottom: 2rem;
  }
}

.hero-disclaimer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* width: 450px; */
  color: white;
  padding: 0.5rem 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(231, 91, 91, 0.89);
  border-radius: 0;
  /* animation: blinker 2s linear infinite; */
  opacity: 1;
  transition: all 0.3s ease;
}

.hero-disclaimer-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-disclaimer-close {
  cursor: pointer;
  margin-left: 2rem;
}

.hero-disclaimer--active {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* @keyframes blinker {
  50% {
    opacity: 0.8;
  }
} */

.disclaimer-title {
  font-size: 0.8rem;
  font-weight: 500;
}

.disclaimer-message {
  font-size: 0.8rem;
}

.hero-image {
  width: 100%;
  max-width: 650px;
  /* border: 1px solid black; */
}

.hero-image img {
  width: 100%;
}

/* RESPONSIVE */

@media only screen and (max-width: 540px) {
  /* For handphone: */
  .hero-container {
    padding: 40px 40px;
    padding-top: calc(100px + 2rem);
    flex-direction: column-reverse;
    align-items: initial;
    transition: all 0.3s ease;
    height: calc(100vh - 80px);
    justify-content: flex-end;
  }

  .hero-container-close {
    padding-top: 40px !important;
    transition: all 0.3s ease;
  }

  .hero-disclaimer-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
  }
  /* 
  .hero-disclaimer {
    width: 320px;
  } */
  /* 
  .hero-text {
    width: 340px;
  } */
  /* 
  .hero-subtitle {
    font-size: 0.8rem;
    text-align: justify;
  }

  .disclaimer-title {
    font-size: 1rem;
  }

  .disclaimer-message {
    font-size: 0.6rem;
  }

  .hero-image {
    display: none;
  } */
}

@media only screen and (max-width: 425px) {
  /* For handphone: */
  .hero-container {
    height: calc((80vh - 60px) - 80px);
  }
}
