.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  max-width: 40%;
}

.hero-subtitle {
  margin-bottom: 1rem;
}

.video-box {
  background: red;
  width: 450px;
  height: 350px;
}
