.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  max-width: 50%;
}

.hero-title {
  font-weight: 500;
}

.hero-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.hero-disclaimer {
  width: 450px;
  margin-top: 1rem;
  color: white;
  padding: 0.5rem;
  background: rgba(231, 91, 91, 0.89);
  border-radius: 0.3rem;
}

.disclaimer-title {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.disclaimer-message {
  font-size: 0.8rem;
}

.hero-image {
  width: 650px;
}

.hero-image img {
  width: 100%;
}
