.information-container {
  display: flex;
  justify-content: space-between;
}

.information-text {
  width: 600px;
}

.information-title {
  font-weight: 500;
}

.information-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.information-video {
  width: 550px;
  height: 350px;
  margin-right: 2rem;
}

@media only screen and (max-width: 540px) {
  /* For handphone: */
  .information-container {
    padding: 2rem;
    flex-direction: column;
  }

  .information-video {
    width: 340px;
    height: 200px;
    margin-bottom: 1rem;
  }

  .information-text {
    width: 340px;
    text-align: justify;
  }
}
