.information-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.information-text {
  width: 100%;
}

.information-title {
  font-weight: 500;
  margin-bottom: 1rem;
}

.information-subtitle p {
  font-size: 18px;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 540px) {
  .information-subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.information-video {
  width: 100%;
  max-width: 550px;
  height: 350px;
  margin-right: 2rem;
}

@media only screen and (max-width: 540px) {
  /* For handphone: */
  .information-container {
    padding: 1rem 2rem;
    flex-direction: column;
    justify-content: flex-start;
    /* height: 100vh; */
  }

  .information-video {
    margin-right: 0;
    height: 250px;
  }
  .information-subtitle p {
    font-size: 16px;
    text-align: justify;
  }
  /* 
  .information-text {
    width: 340px;
    text-align: justify;
  } */
}

@media only screen and (max-width: 425px) {
  /* For handphone: */
  /* .information-container {
    height: calc(100vh - 80px);
  } */
}
