.criteria-desc {
  font-size: 20px;
}

.symptom-list {
  font-size: 18px;
  text-align: justify;
}

@media only screen and (max-width: 540px) {
  /* For handphone: */
  .symptom-container {
    padding: 0rem 2rem;
  }

  .criteria-desc {
    font-size: 18px;
  }

  .symptom-list {
    font-size: 16px;
    padding-right: 10px;
  }

 
}
