.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
  background-color: beige;
}

.nav-logo {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 5px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 5px;
}

.nav-link {
  color: var(--color-red);
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
}
